{
  "env": {
    "client": {
      "presets": [
        ["es2015", {"modules": false}],
        "stage-2",
        "react",
        ["env", {
          "targets": {
            "browsers": [
              "last 2 versions"
            ]
          },
          "useBuiltIns": false
        }]
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-object-rest-spread",
        "system-import-transformer"
      ]
    },
    "server": {
      "presets": [
        "stage-2",
        "react",
        ["env", {
          "targets": {
            "node": "8.2.0"
          }
        }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "system-import-transformer"
      ],
      "ignore": [
        "main.js"
      ]
    }
  }
}
