/* vars
------------------------------------------------- */
$COLOR_PRIMARY: rgb(0, 200, 230);
$COLOR_SECONDARY: rgb(0, 60, 230);
$COLOR_BRAND_PRIMARY: rgb(255, 0, 0);
$COLOR_DARKGRAY_MEDIUM: rgb(112, 112, 112);

$XS: 32.5rem;
$SM: 48rem;
$MD: 60rem;
