/* vars
------------------------------------------------- */
:root {
    --FONT: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    --FONT_SIZE: 14px;
    --COLOR_PRIMARY: rgb(0, 200, 230);
    --COLOR_SECONDARY: rgb(0, 60, 230);
    --COLOR_TERTIARY: rgb(30, 30, 150);
    --COLOR_QUATERNARY: rgb(89, 89, 89);
    --COLOR_BRAND_PRIMARY: rgb(255, 0, 0);
    --COLOR_BRAND_SECONDARY: rgb(0, 180, 50);
    --COLOR_BRAND_TERTIARY: rgb(168, 168, 168);
    --COLOR_BRAND_QUATERNARY: rgb(210, 210, 210);
    --COLOR_LIGHTGRAY_LIGHT: rgb(248, 248, 248);
    --COLOR_LIGHTGRAY_MEDIUM: rgb(244, 244, 244);
    --COLOR_LIGHTGRAY_DARK: rgb(234, 234, 234);
    --COLOR_DARKGRAY_LIGHT: rgb(175, 175, 175);
    --COLOR_DARKGRAY_MEDIUM: rgb(112, 112, 112);
    --COLOR_DARKGRAY_BLACK: rgb(26, 26, 26);

    @custom-media --XS (min-width: 32.5rem);
    @custom-media --XS_INVERSE (max-width: 32.4375rem);
    @custom-media --SM (min-width: 48rem);
    @custom-media --SM_INVERSE (max-width: 47.9375rem);
    @custom-media --MD (min-width: 60rem);
    @custom-media --LG (min-width: 73.13rem);

    --Z_INDEX_FLYOUT: 5;
    --Z_INDEX_MODAL: 6;
    --Z_INDEX_MODAL_OVERLAY: 7;
    --Z_INDEX_MODAL_CONTENT: 8;
}
